<a href="https://colab.research.google.com/github/FontanaDaniel1/Liste/blob/main/correzione_Verifica_lista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.1 caricare i primi 50 multipli di 5

In [ ]:
multipli5 = [i for i in range(5, 255, 5)]
print(multipli5)

In [ ]:
multipli5 = [i * 5 for i in range(1,51)]
print(multipli5)

In [ ]:
multipli5 = [i for i in range(5, 255) if i % 5 == 0]
print(multipli5)

2.2 caricare in una lista solo i multipli di 10

In [ ]:
multipli10 = [mul for mul in multipli5 if mul % 10 == 0]
print(multipli10)

2.3 eliminare dalla seconda lista i valori compresi tra 30 e 60

In [ ]:
count = 0 
for valore in multipli10:
  if valore >= 30 and valore <= 160: 
    multipli10.remove(valore)
    count += 1
print(multipli10)

#da fare per mercoledì

2..4 caricare in una nuova lista i 5 elementi centrali

In [ ]:
multiplicentrali = []
print(len(multipli10))
multiplicentrali = (multipli10[len(multipli10) // 2-2:len(multipli10) // 2+3])
print(multiplicentrali)

2.5 moltiplicare per 10 tutti i num precendenti

In [ ]:
prodotti = [numero*10 for numero in multiplicentrali]
print(prodotti)

2.6 mettere in un unica lista tutti i valori presenti nelle liste precedenti

In [ ]:
listaunica = multipli5 + multipli10 + multiplicentrali + prodotti
print(listaunica)

esericizio 2 verifica pari

In [ ]:
studenti = ["papes", "cottone", "neri", "dipace", "fonta", "mile", "berna", "leone", "gere", "erne", "dari"]

visualizzare lo studente che si trova al num 10

In [ ]:
print(studenti[9])

visualizzare i 5 studenti centrali

In [ ]:
studenticentrali = (studenti[len(studenti) // 2-2:len(studenti) // 2+3])
print(studenticentrali)

visualizzare i primi 10 studenti

In [ ]:
print(studenti[:10])

trovare studenti randomicamente

In [ ]:
import random
studenti[random.randint(0,len(studenti)-1)]

In [ ]:
print(random.sample(studenti,3))

['mile', 'berna', 'fonta']

aggiungere in coda all elenco un nuovo studente, antonio cassano. dopo l inserimento visualizzare il nuovo elenco di nominativi ordinati in ordini alfabetico

In [ ]:
studenti.append("grieco")
studenti.sort()
print(studenti)

['berna', 'cottone', 'dari', 'dipace', 'erne', 'fonta', 'gere', 'grieco', 'leone', 'mile', 'neri', 'papes']

terminare la correzione delle verifiche fila pari fila dispari🤷‍♂️🤷‍♂️